@font-face {
	font-family: 'Maison Neue';
	src: url('MaisonNeue-Book.woff2') format('woff2'),
		url('MaisonNeue-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	}

@font-face {
	font-family: 'Maison Neue';
	src: url('MaisonNeue-Bold.woff2') format('woff2'),
		url('MaisonNeue-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	}

@font-face {
	font-family: 'Maison Neue';
	src: url('MaisonNeue-Medium.woff2') format('woff2'),
		url('MaisonNeue-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	}

@font-face {
	font-family: 'Maison Neue';
	src: url('MaisonNeue-Demi.woff2') format('woff2'),
		url('MaisonNeue-Demi.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	}


/*=================================*/
.pulse {
	animation-name: pulse;
	-webkit-animation-name: pulse;
	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	}
@keyframes pulse {
0% {transform: scale(0.9);}
50% {transform: scale(1);}
100% {transform: scale(0.9);}
}

@-webkit-keyframes pulse {
0% {-webkit-transform: scale(0.95);}
50% {-webkit-transform: scale(1);}
100% {-webkit-transform: scale(0.95);}
}	